<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Daily Transactions Report</h1>
  <p>Dear <%= @user.email %>,</p>
  
  <p>Attached is your daily transactions report.</p>

  <p>Thank you for using our service!</p>

  <p>Best regards,<br>
  Finance Tracker Team</p>
</body>
</html>
